anyio==3.5.0
asgiref==3.5.2
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
click-plugins==1.1.1
cligj==0.7.2
colourmap==1.1.1
cycler==0.11.0
decorator==4.4.2
fastapi==0.75.2
Fiona==1.8.21
Flask==2.0.1
Flask-Cors==3.0.10
geojson-pydantic==0.3.3
geopandas==0.9.0
greenlet==1.1.2
h11==0.13.0
idna==3.3
importlib-metadata==4.11.3
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.3.4
momepy==0.5.3
munch==2.5.0
networkx==2.6.3
numpy==1.19.5
osmnx==1.1.1
packaging==21.3
pandas==1.1.5
pca==1.5.3
Pillow==9.0.1
pluggy==1.0.0
plumbum==1.7.2
psycopg2-binary==2.9.3
py==1.11.0
pydantic==1.9.0
pyparsing==3.0.7
pyproj==3.0.1
pytest==7.1.1
python-dateutil==2.8.2
pytz==2022.1
requests==2.26.0
rpyc==5.1.0
Rtree==0.9.7
scikit-learn==1.0.2
scipy==1.5.4
Shapely==1.7.1
six==1.16.0
sklearn==0.0
sniffio==1.2.0
SQLAlchemy==1.4.25
starlette==0.17.1
threadpoolctl==3.1.0
tomli==2.0.1
tqdm==4.61.2
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
Werkzeug==2.1.0
wget==3.2
zipp==3.7.0
